__pycache__/ai.cpython-39.pyc
__pycache__/board.cpython-39.pyc
__pycache__/collider.cpython-39.pyc
__pycache__/data.cpython-39.pyc
__pycache__/game.cpython-39.pyc
__pycache__/player.cpython-39.pyc
__pycache__/settings.cpython-39.pyc
__pycache__/window.cpython-39.pyc
checkers/__pycache__/checkers_ais.cpython-39.pyc
checkers/__pycache__/checkers_settings.cpython-39.pyc
checkers/__pycache__/checkers.cpython-39.pyc
othello/__pycache__/othello_settings.cpython-39.pyc
othello/__pycache__/othello.cpython-39.pyc
